<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Sign Up - Blog Website</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous">
    </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <div class="container text-center">
        <br><br><br>
        <div>
            <h1>User Registration - Sign Up</h1>
        </div>
        <form th:action="@{/users/register}" 
            method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">                       
            <div class="form-group row">
                <label class="col-4 col-form-label">First Name: </label>
                <div class="col-8">
                    <input type="text" th:field="${user.firstName}" class="form-control"
                            required minlength="2" maxlength="20"/>
                </div>
            </div>
             
            <div class="form-group row">
                <label class="col-4 col-form-label">Last Name: </label>
                <div class="col-8">
                    <input type="text" th:field="${user.lastName}" class="form-control"
                            required minlength="2" maxlength="20" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">E-mail: </label>
                <div class="col-8">
                    <input type="email" th:field="${user.email}" class="form-control" required />
                </div>
            </div>
            <span th:if="${error_email}" style="color:red;">Email already exists</span>
            <div class="form-group row">
                <label class="col-4 col-form-label">Username: </label>
                <div class="col-8">
                    <input type="text" th:field="${user.username}" class="form-control"
                            required minlength="2" maxlength="20" />
                </div>
            </div>
            <span th:if="${error_username}" style="color:red;">Username already exists</span>
            <div class="form-group row">
                <label class="col-4 col-form-label">Password: </label>
                <div class="col-8">
                    <input type="password" th:field="${user.password}" class="form-control" 
                            required minlength="6" maxlength="10"/>
                </div>
            </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label">Confirm Password: </label>
                    <div class="col-8">
                        <input type="password" th:field="${user.matchingPassword}" class="form-control" 
                                required minlength="6" maxlength="10"/>
                    </div>
                </div>
                <span th:if="${error_password}" style="color:red;">Passwords do not match</span>
                <br>
                <div>
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </div>   
                <br> 
                <h3><a th:href="@{/users/login}">Have an account? Login here</a></h3>        
        </div>
        </form>
    </div>
</body>
</html>