<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<title>Initialize Database</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<section layout:fragment="content" class="container text-center">
		<h3><a th:href="@{/users/}">Home</a></h3>
		<form action="#" method="POST" th:action="@{/initialize-database}">
			<h1 id="roles-h2">Initialize Database</h1>
			<input type="submit" id="submit" value="Submit" class="btn btn-primary">
			</div>
		</form>
	</section>
</body>

</html>